
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 200 100% 30%;
    --accent: 200 100% 30%;
    --accent-foreground: 0 0% 98%;
    --green: 115 35% 71%;
    --pink: 1 65% 73%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

      --card: 0 0% 0%;
      --card-foreground: 0 0% 100%;

      --popover: 0 0% 0%;
      --popover-foreground: 0 0% 100%;

      --secondary: 0 0% 20%;
      --secondary-foreground: 0 0% 100%;

      --muted: 0 0% 20%;
      --muted-foreground: 0 0% 60%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 100%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 200 100% 30%;
    --accent: 200 100% 30%;
    --accent-foreground: 0 0% 98%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-inter;
  }
}

@layer components {
  .hover-lift {
    @apply transition-all duration-300 hover:transform hover:-translate-y-2 hover:shadow-xl;
  }
  
  .gradient-text {
    @apply bg-gradient-to-r from-primary-900 to-primary-600 bg-clip-text text-transparent;
  }
  
  .book-card-hover {
    @apply transition-all duration-300 hover:shadow-2xl hover:scale-105 hover:border-accent;
  }
}
